<web-app>
    
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
<!--student page servlets-->

<servlet>
<servlet-name>DoctorLogin</servlet-name>
<servlet-class>DoctorLogin</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>DoctorLogin</servlet-name>
<url-pattern>/DoctorLogin</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>DoctorRegister</servlet-name>
<servlet-class>DoctorRegister</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>DoctorRegister</servlet-name>
<url-pattern>/DoctorRegister</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>DoctorRemedy</servlet-name>
<servlet-class>DoctorRemedy</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>DoctorRemedy</servlet-name>
<url-pattern>/DoctorRemedy</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>DoctorStatusUpdate</servlet-name>
<servlet-class>DoctorStatusUpdate</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>DoctorStatusUpdate</servlet-name>
<url-pattern>/DoctorStatusUpdate</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>DoctorAttend</servlet-name>
<servlet-class>DoctorAttend</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>DoctorAttend</servlet-name>
<url-pattern>/DoctorAttend</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>PatientLogin</servlet-name>
<servlet-class>PatientLogin</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>PatientLogin</servlet-name>
<url-pattern>/PatientLogin</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>PatientRegister</servlet-name>
<servlet-class>PatientRegister</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>PatientRegister</servlet-name>
<url-pattern>/PatientRegister</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>PatientBooking</servlet-name>
<servlet-class>PatientBooking</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>PatientBooking</servlet-name>
<url-pattern>/PatientBooking</url-pattern>
</servlet-mapping>

</web-app>